/*FOR MOBILE VV*/
@media all and (min-width:0px) and (max-width: 960px) {
  #page-container {
  	position: relative;
  	min-height: 95vh;
  	margin: auto;
  	width: 75%;
  	border: 5px solid black;
  	padding: 10px;
  	background-color:#282828;
   }
}

/* STANDARD STYLING BELOW */

body{
	background-color:black;
	background-image: url("./backgroundstripes.png");
	background-attachment: fixed; /* Doesn't scroll. Parallax effect in future would be preferable */
}

#page-container {
	position: relative;
	min-height: 95vh;
	margin: auto;
	width: 66%;
	border: 5px solid black;
	padding: 10px; /* Creates issues with <hr> elements. Look for better solution in future */
	background-color:#282828;
}
#content-wrap {
  /*padding-bottom: 3rem;/*Footer height*/
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;/*Footer height. Footer not used at this point*/
}
h1{
	text-align:center;
	color:#6300C6;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	-webkit-text-stroke: 1px #320064;
	font-size:48px;
	margin:20px;
	text-align:left;
}

code{
	background-color:#212121;
	margin:5px;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-family: 'Courier New', monospace; /* Not used at this point, will be in future */
}

a{
	color:#707070;
	text-decoration:none; /* Lets me style more later */
}

h2{
  color:black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:36px;
  margin:5px;
}

h3{
  color:#A5A5A5;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:24px;
  margin:20px;
}

h4{text-align:left;
  color:#A5A5A5;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:18px;
  padding-left:20px;
  margin:5px;
}

a:hover{
	color:#6300C6;
	-webkit-text-stroke: 0.5px #6300C6; /* Creates purple glow on <a> entries when hovered */
}

hr{
	width:102%; /* Needs work */
	margin-left:-10; /*Negates the padding of the page-container div so that hr reaches to ends*/
	margin-right:-10; /* ^ */
	height:4px;
	color:black;
	background-color:black;
	border: 1px solid black;
}
#h4_gray{
	color:#707070; /* For use on pages with h4 elements with different styles, ie sotdfaq */
}
#h4_gray_cd{
	color:#707070; /* Sotdfaq entries element */
}
#language-selector {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
}
#language-selector:hover {
	color:#6300C6;
	-webkit-text-stroke: 0.5px #6300C6;
}

#language-dropdown {
        display: none;
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        padding: 10px;
        z-index: 1;
}
